
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                Kullanıcı Adı: <input type="text" /> <br /> <br />
                Şifre: <input type="password" />
            </div>
            <br />
            <div class="row">
               
            </div>
        </div>
    </div>
</body>
</html>